@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0a09;
  --foreground: #fafaf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #fafaf9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-mono-game {
  font-family: 'Courier New', monospace;
}
